name: pushing to main branch
#specified to main branch only
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set Up Java
        uses: actions/setup-java@v3
        with:
          java-version: 20

      - name: Build and Test
        run: mvn install && mvn test

      - name: Deploy Application
        run: ./deploy_script.sh